.container
  position: relative

.flex-container
  display: flex
  height: 100%

.flex-center-sort
  justify-content: center
  align-items: center
  align-content: center

.flex-space-between-sort
  justify-content: space-between
  align-items: center
  align-content: center

.flex-left
  justify-content: left

.flex-right
  justify-content: right

.flex-row
  flex-direction: row

.flex-column
  flex-direction: column

.flex-item-startw
  align-self: flex-start

.flex-item-end
  align-self: flex-end

.ul-text-align-center
  text-align: center

.li-inline
  display: inline

.ul-nothing
  list-style-type: none

.zero
  margin: 0
  padding: 0

.on-center-text
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)