.result-template
  width: 100%
  height: 100%
  margin: 0 auto
  animation: fadeIn 0.5s both
  overflow: hidden

.fade_In
  animation: fadeIn 0.5s both

.fade_Out
  animation: fadeOut 0.5s both

.fade_Out_In
  animation: fadeOutIn 1s both

.result-color-info
  width: 200px !important
  height: 50px !important
  position: absolute
  right: 0
  top: 0
  z-index: -1
  margin-top: 50px
  margin-right: 200px

.result-color-box-1
  width: 30px
  height: 30px
  background-color: #4f5250

.result-color-box-2
  width: 30px
  height: 30px
  background-color: #ffffff