.font-size-xxxx-large
  font-size: 10rem

.font-size-xxx-large
  font-size: 7.5rem

.font-size-xx-large
  font-size: 5rem

.font-size-x-large
  font-size: 2.5rem

.font-size-large
  font-size: 1rem

.font-size-regular
  font-size: 0.75rem

.font-size-small
  font-size: 0.5rem

.font-weight-light
  font-weight: 300

.font-weight-regular
  font-weight: 400

.font-weight-bold
  font-weight: 600

.font-family-text
  font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif

.font-family-display
  font-family: source-serif-pro, Georgia, "Times New Roman", Times, serif

.font-family-code
  font-family: source-code-pro, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace