.game-ideal-type-card-left__button
  position: relative
  width: 95%
  height: 100%
  cursor: pointer
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  +border-radius(10px)
  border: #E42707 solid 1px

.game-ideal-type-card-right__button
  position: relative
  width: 95%
  height: 100%
  cursor: pointer
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  +border-radius(10px)
  border: #E42707 solid 1px

.game-ideal-type-card-left__pText
  position: relative
  font-size: 1.5rem
  color: #E42707 !important
  padding-left: 20px
  padding-top: 10px
  margin: 0
  font-weight: 700 !important

.game-ideal-type-card-right__pText
  position: relative
  font-size: 1.5rem
  color: #E42707 !important
  padding-left: 20px
  padding-top: 10px
  margin: 0
  font-weight: 700 !important

.game-ideal-type-card-left__gText
  position: relative
  font-size: 1rem
  color: #000000 !important
  padding-left: 20px
  padding-top: 10px
  margin: 0

.game-ideal-type-card-right__gText
  position: relative
  font-size: 1rem
  color: #000000 !important
  padding-left: 20px
  padding-top: 10px
  margin: 0

.game-ideal-type-card-left__modal
  position: relative
  background-color: #ffffff
  +border-radius(10px)
  width: 100%
  height: 100%

.game-ideal-type-card-right__modal
  position: relative
  background-color: #ffffff
  +border-radius(10px)
  width: 100%
  height: 100%

.game-ideal-type-card-left-wrapper
  width: 600px
  height: 750px
  +border-radius(10px)
  border: #ffffff solid 5px
  background-color: #ffffff
  animation: moveDown 0.1s both

.game-ideal-type-card-right-wrapper
  width: 600px
  height: 750px
  +border-radius(10px)
  border: #ffffff solid 5px
  background-color: #ffffff
  animation: moveDown 0.1s both

.game-ideal-type-card-left-wrapper:hover
  animation: moveUp 0.1s both

.game-ideal-type-card-right-wrapper:hover
  animation: moveUp 0.1s both

.game-ideal-type-card-left-wrapper:hover
  animation: moveUp 0.1s both

.game-ideal-type-card-right-wrapper:hover
  animation: moveUp 0.1s both

.modal-wrapper-left
  width: 200px
  height: 80px
  z-index: 10
  left: 0
  bottom: 0
  margin: 5px

.modal-wrapper-right
  width: 200px
  height: 80px
  z-index: 10
  right: 0
  bottom: 0
  margin: 5px

.p-wrapper-left
  width: 100%
  height: 100px
  text-align: left

.p-wrapper-right
  width: 100%
  height: 100px
  text-align: right
  margin-left: -30px

.card-line
  width: 95%
  border: #E42707 solid 1px
  margin-top: 0
  margin-bottom: 20px