.result-result-card-wrapper
  width: 45vw
  height: 700px
  +margin-space(30px)
  +border-radius(10px)
  border: #ffffff solid 5px
  background-color: #ffffff

.result-result-card__button
  width: 100%
  height: 100%
  cursor: none
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  +border-radius(10px)

.result-result-card__text
