.result-go-to-home__img
  width: 100%
  height: 100%
  cursor: pointer

.result-go-to-home__button
  width: 150px !important
  height: 50px !important
  margin-right: 10px !important
  margin-left: 10px !important

.result-go-to-home-wrapper
  //width: 100%
  //height: 100%
