.common__title
  color: #fff

.common__button
  width: 100%
  height: 100%
  color: #ffffff
  border: #ffffff solid 1px
  +border-radius(60px)

.common__button:hover
  animation: buttonHover 0.5s both
  color: #E42707
  border: #E42707 solid 1px
  +border-radius(60px)

@keyframes buttonHover
  0%
    background-color: transparent
    color: #ffffff
  100%
    background-color: #ffffff
    color: #E42707

@keyframes buttonOut
  0%
    background-color: #ffffff
    color: #E42707
  100%
    background-color: transparent
    color: #ffffff

.common__button:active
  background-color: #337ab7
  border-color: #2e6da4

.common-button__togle-on
  background-color: transparent
  width: 100%
  height: 100%
  color: white
  border-color: #ffffff
  border-width: 1px
  +border-radius(60px)

.common__select
  background-color: #fff
  color: #E42707
  font-size: 18px
  width: 100%
  height: 100%
  text-align: center
  border: none
  +border-radius(10px)
  +border-width(1px)

.common__option
  background-color: #ffffff
  color: black
  text-align: center

.common__header
  background-color: #ffffff

.common__img
  width: 100%
  height: 100%
  +border-radius(10px)

.common__p
